<p-table [value]="schools" dataKey="name">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th>Level</th>
      <th>Name</th>
      <th>Score</th>
      <th>Specialization</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-school let-expanded="expanded">
    <tr>
      <td>
        <button
          type="button"
          pButton
          pRipple
          [pRowToggler]="school"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>
      <td>{{ school.level }}</td>
      <td>
        <a target="_blank" href="{{ school.weburl }}"> {{ school.name }}</a>
      </td>
      <td>{{ school.score }}</td>
      <td>{{ school.specialization }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-school>
    <tr>
      <td colspan="3">
        <img
          style="height: 25vh; width: 30vw"
          src="{{ school.image }}"
          alt="{{ school.name }}"
        />
      </td>
      <td>
        <a target="_blank" href="{{ school.locationUrl }}">
          {{ school.location }}</a
        >
      </td>
      <td>
        {{ school.description }}
      </td>
    </tr>
  </ng-template>
</p-table>
