<div class="center">
  <span>
    <a routerLink="/home" pTooltip="Welcome!">Home</a>
    <a routerLink="/about" pTooltip="Know about who I am">About</a>
    <a routerLink="/education" pTooltip="What and where did I study"
      >Education</a
    >
    <a routerLink="/projects" pTooltip="What did I work on and am I working on"
      >Projects</a
    >
    <a routerLink="/skills" pTooltip="How can I do what I do">Skills</a>
    <a routerLink="/resume" pTooltip="Everything about me in one place"
      >Resume</a
    >
    <a routerLink="/contact" pTooltip="How can we get to know each other better"
      >Contact</a
    >
  </span>
</div>
