<div>
  <img style="height: 65vh" src="assets/images/vijay.jpg" alt="Vijay" />
  <div class="float-right" style="width: 25%">
    <p>
      Who Am I? Pellentesque non ligula at odio pretium ultricies. Suspendisse
      gravida, lectus et aliquam dictum, nisi nulla scelerisque elit, sed
      accumsan magna tortor quis nunc. Suspendisse nec sem ut lectus malesuada
      vulputate vel non dolor. Aliquam sed diam id turpis blandit gravida. Etiam
      bibendum pulvinar turpis. Nulla bibendum, sem in venenatis tristique,
      metus turpis maximus quam, at hendrerit nulla ipsum sit amet eros.
      Pellentesque sodales convallis hendrerit. Curabitur sit amet nunc sagittis
      lacus lobortis sodales eget sed arcu. Vestibulum viverra lacinia eleifend.
      Aenean lacinia eget magna in dictum. Etiam et lacus sed erat pretium
      tempor ac in tortor. Nam ac arcu a turpis vehicula scelerisque. Donec eget
      feugiat mauris, ut lobortis lacus. Nunc tortor risus, mattis vitae
      eleifend nec, sodales vitae ex. Cras at malesuada quam.
    </p>
  </div>
</div>
