p.fullName {
  color: #2e8b57;
  font-size: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

.question {
  font-size: 18px;
  color: #cfcfcc;
}
.answer {
  font-size: 18px;
  color: #008080;
}
a {
  font-size: 18px;
  color: #00c0ff;
}
