<p-table rowExpandMode="single" [value]="projects" dataKey="projectTitle">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th>Project Title</th>
      <th>Nature</th>
      <th>Roles Played</th>
      <th>Technologies</th>
      <th>Description</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-project let-expanded="expanded">
    <tr>
      <td>
        <button
          type="button"
          (click)="drawChart(project.dataSet)"
          pButton
          pRipple
          [pRowToggler]="project"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>
      </td>
      <td>{{ project.projectTitle }}</td>
      <td>{{ project.nature }}</td>
      <td>{{ project.role }}</td>
      <td>{{ project.techStack }}</td>
      <td>{{ project.description }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-project>
    <tr>
      <td colspan="3">
        <p-chart
          type="polarArea"
          pTooltip="Constituents of my skills in my projects"
          [data]="data"
        ></p-chart>
      </td>
      <td>
        {{ project.responsibilities }}
      </td>
      <td colspan="2"></td>
    </tr>
  </ng-template>
</p-table>
<p-chart
  type="radar"
  [options]="radarOptions"
  pTooltip="Constituents of my skills in my projects"
  [data]="data"
></p-chart>
