<h5>Vijay Aditya</h5>
<h6>Software Engineer</h6>
<table>
  <tr>
    <th>
      <img src="https://img.icons8.com/material/24/000000/github.png" />
    </th>
    <td>
      <a href="https://github.com/pidaparthivijay"
        >https://github.com/pidaparthivijay
      </a>
    </td>
  </tr>
  <tr>
    <th>
      <img src="https://img.icons8.com/material/24/000000/facebook.png" />
    </th>
    <td>
      <a href="https://www.facebook.com/aditya.vijay.9279"
        >https://www.facebook.com/aditya.vijay.9279
      </a>
    </td>
  </tr>
  <tr>
    <th>
      <img
        src="https://img.icons8.com/material-outlined/24/000000/linkedin.png"
      />
    </th>
    <td>
      <a href="https://www.linkedin.com/in/vijay-pidaparthi-02a1a974/">
        https://www.linkedin.com/in/vijay-pidaparthi-02a1a974/
      </a>
    </td>
  </tr>
  <tr>
    <th>
      <i class="pi pi-envelope"></i>
    </th>
    <td>
      <a href="mailto:pidaparthivijayaditya@gmail.com"
        >pidaparthivijayaditya@gmail.com
      </a>
    </td>
  </tr>
</table>
