<div style="padding: 2%">
  <h1 style="text-align: center; font-size: 5em">Vijay Aditya</h1>
  <section>
    <table>
      <tr style="padding-bottom: 5px">
        <th class="contactDetails">
          <i pTooltip="What have I worked on so far" class="pi pi-github"></i>
        </th>
        <th class="contactDetails">
          <i pTooltip="Personal Timeline" class="pi pi-facebook"></i>
        </th>
        <th class="contactDetails">
          <img
            pTooltip="Professional Timeline"
            style="height: 80px; width: 80px"
            src="assets/icons/linked-in.svg"
          />
        </th>
        <th class="contactDetails">
          <i
            pTooltip="You haven't got time? Mail me and I will get back to you as soon as I get time"
            class="pi pi-google"
          ></i>
        </th>
      </tr>
      <tr>
        <td>
          <a
            href="https://github.com/pidaparthivijay"
            target="_blank"
            style="color: black"
            >https://github.com/pidaparthivijay
          </a>
        </td>
        <td>
          <a
            style="color: #3b5998"
            href="https://www.facebook.com/aditya.vijay.9279"
            target="_blank"
            >https://www.facebook.com/aditya.vijay.9279
          </a>
        </td>
        <td>
          <a
            style="color: #0e76a8"
            href="https://www.linkedin.com/in/vijay-pidaparthi-02a1a974/"
            target="_blank"
          >
            https://www.linkedin.com/in/vijay-pidaparthi-02a1a974/
          </a>
        </td>
        <td>
          <a
            style="color: #3cba54"
            href="mailto:pidaparthivijayaditya@gmail.com"
            target="_blank"
            >pidaparthivijayaditya@gmail.com
          </a>
        </td>
      </tr>
    </table>
  </section>
</div>
