<h5>Vijay Aditya</h5>
<h6>Software Engineer</h6>
<button href="https://github.com/pidaparthivijay">
  <img src="https://img.icons8.com/material/24/000000/github.png" />
</button>
<button href="https://www.facebook.com/aditya.vijay.9279">
  <img src="https://img.icons8.com/material/24/000000/facebook.png" />
</button>
<button href="https://www.linkedin.com/in/vijay-pidaparthi-02a1a974/">
  <img src="https://img.icons8.com/material-outlined/24/000000/linkedin.png" />
</button>
<button href="mailto:pidaparthivijayaditya@gmail.com">
  <i class="pi pi-envelope"></i>
</button>
