<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <app-menu></app-menu>
</div>
<div id="main">
  <span
    style="
      font-size: 30px;
      padding-bottom: 3%;
      cursor: pointer;
      position: relative;
    "
    (click)="openNav()"
    >&#9776;</span
  >
  <div
    id="page"
    class="routerContainer"
    [@routeAnimations]="prepareRoute(outlet)"
  >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <i
    (click)="navigateToNext()"
    class="pi pi-chevron-down"
    style="font-size: 30px; position: fixed; bottom: 20px; right: 20px"
  ></i>
</div>
