<p style="color:teal">
    Phasellus tincidunt nulla in blandit faucibus. Curabitur enim turpis, mattis vel lacus id, blandit feugiat dui.
    Phasellus bibendum pretium nisl vel varius. Pellentesque aliquam, lorem et porta gravida, mauris velit tempus
    sapien,
    nec ultricies eros mi at arcu. Suspendisse potenti. Praesent accumsan nibh a lorem vestibulum, quis egestas justo
    bibendum. Sed commodo malesuada elit, et facilisis arcu dapibus quis. Fusce ipsum elit, interdum nec ante at,
    iaculis
    iaculis purus.
</p>