<div class="center" style="text-align: center">
  <div class="title">Vijayaditya Venkata Subrahmanya Pidaparthi</div>
  <div class="role">Developer</div>
  <div class="contact">Contact: 9493444225 / 7823944217</div>
  <div class="mail">Email: pidaparthivijayaditya@gmail.com</div>
</div>
<hr />
<div class="mainContent">
  <span class="subtitle">PROFESSIONAL SUMMARY </span>
  <ul>
    <li>Overall professional experience of 4.25 Years in IT industry.</li>
    <li>
      Expertise in using Agile Software development methodologies like Scrum and
      Sprint.
    </li>
    <li>
      Expert in Core Java concepts like Collection Framework, Garbage Collector,
      Multi-threading, Exception handling.
    </li>
    <li>
      Expertise in developing web pages using HTML, CSS, JavaScript with browser
      compatibility and responsive web design.
    </li>
    <li>
      Good Experience in Angular for creating interactive UI's using Two-way
      data flow.
    </li>
    <li>Familiar with creation of Custom Reusable Angular Components.</li>
    <li>Experience in implementing Design Patterns like Singleton, MVC.</li>
    <li>
      Experience in implementation of frameworks like Spring and Hibernate.
    </li>
    <li>
      Extensive experience in working with creation of Views with optimal
      performance in Oracle.
    </li>
    <li>
      Expertise in Creating Hibernate configuration file, Hibernate Mapping
      files and defined persistence classes to persist the data into Oracle
      Database.
    </li>
    <li>
      Experience in configuration and deployment of multi-tier applications
      using applications servers like IBM WebSphere, Tomcat.
    </li>
    <li>
      Well versed with consuming and publishing Web services as SOA
      (Service-oriented) Architecture based SOAP, WSDL, UDDI Components and REST
      working with data-exchange formats like XML and JSON formats.
    </li>
    <li>Experience with Micro Services and Spring Boot.</li>
    <li>
      Good comprehension of Business work process, Business rationale and
      Business strategies for further execution of client prerequisite in
      application environment.
    </li>
    <li>
      Excellent analytical and communication skills in order to work with
      mid-sized teams, technical and business leadership.
    </li>
    <li>
      Self-motivated and ability to handle multiple priorities with excellent
      time management skills and ability to work effectively both as an
      individual and as part of a team.
    </li>
    <li>
      Appreciation from client for the quick and robust design of the angular
      UI.
    </li>
    <li>Received many accolades like “On The Spot” award.</li>
  </ul>
</div>
<div>
  <span class="subtitle"> LINGUSTIC SKILLS </span>
  <ol>
    English, Telugu, Tamil, Hindi and Japanese (Basic)
  </ol>
</div>
<div>
  <span class="subtitle"> TECHNICAL SKILLS </span>
  <table>
    <tr>
      <th>Programming Languages</th>
      <td>Java, Python (Basic), C</td>
    </tr>
    <tr>
      <th>Frameworks</th>
      <td>
        Web MVC (JSPs & Servlets), 3.25 years of experience with Spring MVC,
        Basic Knowledge of Spring Boot, Angular
      </td>
    </tr>
    <tr>
      <th>Web/App Servers</th>
      <td>IBM Web Sphere, Apache Tomcat</td>
    </tr>
    <tr>
      <th>Web Technologies</th>
      <td>HTML, CSS, JSP, JavaScript, jQuery, RESTful Web services, Angular</td>
    </tr>
    <tr>
      <th>Database</th>
      <td>Oracle</td>
    </tr>
    <tr>
      <th>Testing Tools</th>
      <td>JUnit, Soap UI</td>
    </tr>
    <tr>
      <th>Version Control</th>
      <td>Rational Team Concert (RTC), BitBucket</td>
    </tr>
    <tr>
      <th>IDEs</th>
      <td>Eclipse, Visual Studio Code</td>
    </tr>
    <tr>
      <th>Platforms</th>
      <td>Windows</td>
    </tr>
    <tr>
      <th>ORM</th>
      <td>Hibernate</td>
    </tr>
  </table>
</div>
<div>
  <span class="subtitle">CERTIFICATION</span>
  <ul>
    &#10146;OCJP 6 Certified Programmer- Dec 2016
  </ul>
</div>
<div>
  <span class="subtitle">EDUCATIONAL QUALIFICATION</span>
  <ul>
    &#10146;Bachelor’s degree (Information Technology): JNTU -UCEV Vizianagaram,
    Andhra Pradesh, India
  </ul>
</div>

<div>
  <span class="subtitle">PROFESSIONAL EXPERIENCE</span>
  <div class="projects">
    <div class="project">
      <span class="projectTitle">Project: CCR Self Service</span>
      <span class="subheading"
        >Role: UI design and creation of project, Micro service</span
      >
      <span class="subheading">Description</span>
      <span class="content"
        >To develop and maintain a SPW application for the book keeping and
        management of draft of connections going in and out of Citi Network for
        the Citi Group. The user should be able to login, create and maintain
        drafts that would be taken as input for application that maintains the
        connections. They also should be able to edit and terminate a connection
        which is no longer in usage or required.</span
      >
      <span class="subheading">Responsibilities</span>
      <ul>
        <li>
          Worked on Agile methodology including team-based design and code
          reviews.
        </li>
        <li>
          Design and development of the application using Angular (frontend),
          Spring Boot(Microservice).
        </li>
        <li>
          Development of Single Page Application (SPA) using Angular Framework
          and injected generic services using Angular8.
        </li>
        <li>
          Used Angular Routing for navigating between screens and developed
          several reusable directives and components.
        </li>
        <li>Unit testing and integration testing done by JUnit</li>
        <li>
          Following Agile Scrum methodology for stand-up meeting and updates to
          client.
        </li>
      </ul>
      <span class="subheading"
        >Technology Stack:Java, Oracle 11g, Spring JPA, Spring Boot
        Microservices, Hibernate, Typescript and Angular</span
      >
    </div>
    <div class="project">
      <span class="projectTitle">Project: Citi Connectivity Registry</span>
      <span class="subheading">Role: Developer</span>
      <span class="subheading">Description</span>
      <span class="content"
        >The user should be able to login, create and maintain connections that
        has been requested for access through the Citi Network. They also should
        be able to terminate a connection which is no longer in usage or
        required.</span
      >
      <span class="subheading">Responsibilities</span>
      <ul>
        <li>
          Understanding Functional and Technical Requirement specification from
          end user's perspective.
        </li>
        <li>
          Involvement in elaboration, implementation, testing, and defect fixing
          phases of some of the modules.
        </li>
        <li>Conversion of the project to UX standards and maintaining them.</li>
        <li>Fixing the service level issues in java.</li>
        <li>
          Finding the root cause of the issues and fixing to avoid reoccurrence
          of similar issues in JSPs.
        </li>
        <li>
          Creation of views and tables as per the requirement with optimum
          performance.
        </li>
        <li>
          Following Agile Scrum methodology for stand-up meeting and updates to
          client.
        </li>
      </ul>
      <span class="subheading"
        >Technology Stack:JSPs, JavaScript, jQuery, Spring MVC Framework with
        Java and Oracle 11g, Hibernate.</span
      >
    </div>
    <div class="project">
      <span class="projectTitle">Project: Cherry Brown Services</span>
      <span class="subheading">Role: Developer</span>
      <span class="subheading">Description</span>
      <span class="content"
        >The user should be able to register, login and browse through different
        services and book accordingly through which user gains the reward points
        basing on type of booking (tour/ room) which the user can utilize
        later.</span
      >
      <span class="subheading">Responsibilities</span>
      <ul>
        <li>Designing UI.</li>
        <li>Creation and design of the database from scratch.</li>
        <li>Implementation of one module out of 3.</li>
        <li>
          Weekly connects with Business team to discuss the existing rules and
          requirements for new rules.
        </li>
      </ul>
      <span class="subheading"
        >Technology Stack:JSPs, Servlets, JavaScript, jQuery, MVC Framework with
        Java and Oracle 11g</span
      >
    </div>
  </div>
  <div class="signature">(Pidaparthi Venkata Subrahmanya Vijayaditya)</div>
</div>
