/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  font-family: "AdventProBold" !important;
}

.ham {
  color: #ccc;
  mix-blend-mode: difference !important;
  font-size: 30px;
  padding-bottom: 3%;
  cursor: pointer;
  position: relative;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: inherit;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  color: #111111;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  text-decoration: none;
  font-weight: bold;
  transform: scale(1.5);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  height: 100vh;
  transition-duration: 0.5s, 0.5s;
}

@media screen and (max-height: 100vh) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@font-face {
  font-family: AdventProThin;
  src: url(assets/fonts/AdventPro-Thin.ttf) format("opentype");
}
@font-face {
  font-family: AdventProBold;
  src: url(assets/fonts/AdventPro-Bold.ttf) format("opentype");
}
@font-face {
  font-family: Raleway-Italic;
  src: url(assets/fonts/Raleway-Italic-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: Raleway;
  src: url(assets/fonts/Raleway-VariableFont_wght.ttf) format("opentype");
}
.routerContainer {
  position: relative;
}
.routerContainer > * {
  display: block;
}
