/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("assets/images/bground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
}
