body {
  margin: 0;
  background: #000000 !important;
  h1 {
    font-size: 5em;
    text-align: center;
  }
}
section {
  padding: 3em;
  height: 93.75vh;
  position: relative;
  box-sizing: border-box;
  blockquote {
    font-size: 2em;
    width: 30%;
    margin-top: 17%;
    position: absolute;
  }
}

section:nth-child(even) {
  background: #f1f1f1;
}
